body {
    background-color: $akblack;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4 {
    font-weight: 500;
    margin-top: 1.2rem;
    margin-bottom: 1rem;
    color: $akred;
}

h2, h3, h4{
    text-transform: uppercase;
}

a{
    text-decoration: none;
}